<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Extension Configuration</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h3>Pinterest Conversion Tracking</h3>
    <p>Use the Pinterest tag on your website to build audiences based on actions they take, and gather valuable insights. Learn more about
      <a href="https://help.pinterest.com/en/articles/website-conversion-tracking" target="_blank">the Pinterest Tag for businesses and websites</a>.</p>

      <div class="card">
        <div class="card-header">
          <b>Note</b>
        </div>
        <div class="card-body">
          <p class="card-text">The Pinterest base code (the Pinterest tag) is required on pages where you will track events. This extension provides that base code.</p>
          <p class="card-text">You can add a Pinterest <i>Load Base Code</i> action to any global rule that uses a Page Top event type to ensure the base code will be available for Pinterest event actions.</p>
          <p class="card-text">To find your Pinterest Tag ID, sign in to your <a href="https://ads.pinterest.com/" target="_blank">Pinterest Ads account,</a> click on Ads, then Conversions.</p>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">
          <b>Enter your Pinterest Tag ID</b>
        </div>
        <div class="card-body">
          <form>
            <label>
              <span>Tag ID </span>
              <input id="tagid">
            </label>
          </form>
        </div>
      </div>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function (info) {
          if (info.settings) {
            // Populate form values from persisted settings.
            document.getElementById('tagid').value = (info.settings.tagid) || '';
          }
        },

        getSettings: function () {
          // Return settings object from form values.
          return {
            tagid: document.getElementById('tagid').value || ''
          }
        },

        validate: function () {
          // Return whether settings are valid.
          var tagidField = document.getElementById('tagid');
          tagidField.invalid = !tagidField.value;
          return !tagidField.invalid;
        }
      });
    </script>
  </div>
</body>

</html>
