<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Checkout Action</title>
  <meta name="description" content="Checkout Action">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="../resources/main.css">
  <script src="../resources/viewhelpers.js"></script>
</head>

<body>
  <div class="container">
    <div id="content"></div>
    <script>
      getEventForm(deStuff);
    </script>

  </div>

  <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
  <script>
    window.extensionBridge.register({
      init: function (info) {
        if (info.settings) {
          var viewSettings = ['currency', 'lead_type', 'line_items', 'order_id', 'order_quantity', 'promo_code', 'property', 'search_query', 'value', 'video_title'];

          viewSettings.forEach(function (el) {
            var val = info['settings'][el];
            if (val !== null && val !== '') {
              // Populate form values from persisted settings
              document.getElementById(el).value = val || '';
            }
          });
        }
      },

      getSettings: function () {
        var viewFields = ['currency', 'lead_type', 'line_items', 'order_id', 'order_quantity', 'promo_code', 'property', 'search_query', 'value', 'video_title'];
        var populatedFields = {};

        viewFields.forEach(function (el) {
          var val = document.getElementById(el).value
          if (val !== null && val !== '') {
            populatedFields[el] = val;
          }
        });
        // Return settings object to persist entered values
        return populatedFields;
      },

      validate: function () {
        return true;
      }
    });
  </script>
  </div>
</body>

</html>
