<div id="event-data-form">
  <form class="border p-3">
    <fieldset class="p-3">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="currency">Currency</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="currency" placeholder="&#37;currency&#37;">
        </div>
        <div class="fa-i" data-de="currency">
          <span class="fa fa-database fa-lg" aria-hidden="true"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="lead_type">Lead Type</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="lead_type" placeholder="&#37;lead_type&#37;">
        </div>
        <div class="fa-i" data-de="lead_type">
          <span class="fa fa-database fa-lg" aria-hidden="true"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="line_items">Line Items</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="line_items" placeholder="&#37;line_items&#37;">
        </div>
        <div class="fa-i" data-de="line_items">
          <span class="fa fa-database fa-lg" aria-hidden="true"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="order_id">Order ID</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="order_id" placeholder="&#37;order_id&#37;">
        </div>
        <div class="fa-i" data-de="order_id">
          <span class="fa fa-database fa-lg" aria-hidden="true"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="order_quantity">Order Quantity</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="order_quantity" placeholder="&#37;order_quantity&#37;">
        </div>
        <div class="fa-i" data-de="order_quantity">
          <span class="fa fa-database fa-lg" aria-hidden="true"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="promo_code">Promo Code</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="promo_code" placeholder="&#37;promo_code&#37;">
        </div>
        <div class="fa-i" data-de="promo_code">
          <span class="fa fa-database fa-lg" aria-hidden="true"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="property">Property</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="property" placeholder="&#37;property&#37;">
        </div>
        <div class="fa-i" data-de="property">
          <span class="fa fa-database fa-lg" aria-hidden="true"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="search_query">Search Query</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="search_query" placeholder="&#37;search_query&#37;">
        </div>
        <div class="fa-i" data-de="search_query">
          <span class="fa fa-database fa-lg" aria-hidden="true"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="value">Value</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="value" placeholder="&#37;value&#37;">
        </div>
        <div class="fa-i" data-de="value">
          <span class="fa fa-database fa-lg" aria-hidden="true"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="video_title">Video Title</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="video_title" placeholder="&#37;video_title&#37;">
        </div>
        <div class="fa-i" data-de="video_title">
          <span class="fa fa-database fa-lg" aria-hidden="true"></span>
        </div>
      </div>
    </fieldset>
  </form>
</div>
